.fourth-section {
    background-color: #F5F5F5;
    @include initial_collapse;
}
.fourth-section-container {
    padding: 50px 10px;
    max-width: $max-width;
    margin:  0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    align-items: center;
    gap: 64px;
    @include table {
        margin-bottom: 80px;
        text-align: center;
    }
}
.left-section {
    position: relative;
    @include table{
        margin-bottom: 80px;
    }
    &__header {
        position: relative;
        z-index: 1;
    }
    &__weel-1{
        top: -130px;
        left: -30px;
        @include table{
            left: 80px;
        }
    }
    &__weel-2{
        top: 0px;
        left: -100px;
        @include table{
            left: 30px;
        }
    }
}
.header-main {
    line-height: 90.4%;
}
.right-section {
    display: flex;
    flex-direction: column;
    gap: 25px;
    &__header {}
    &__text {}
}
.main-target-box {
    &__button {}
    &__link {}
    &__link-text {}
}
