.second-section {
    background-color: #F5F5F5;
    min-height: calc(100vh - 177px);
    @include table{
        margin-bottom: 100px;
    }
}
.second-section-container{
    max-width: $max-width;
    margin: 0 auto;
    position: relative;
    display: flex;
    padding-top: 100px;
    align-items: center;
    @include table {
        justify-content: center;
    }
}
.image-box {
    transform: none;
    z-index: 1;
    @include table {
        position: absolute;
        width: 100%;
        text-align: center;
    }
    &__image {
        width: 120%;
        transform: scale(1);
        @include table{
            width: 90%;
        }
    }
}
.figures {
    position: absolute;
    left: -100px;
    top: 200px;
    @include table {
        top: 100px;
        left: -40px;
    }
    &__figure {
        position: absolute;
        box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.25);
        border-radius: 100px;

        &_purple {
            background: #5F4C87;
            width: 576.61px;
            height: 219.16px;
            transform: matrix(0.51, -0.86, 0.87, 0.49, 0, 0);
        }

        &_orange {
            background: #DC6639;
            width: 701.69px;
            height: 218.32px;
            transform: matrix(0.71, -0.7, 0.71, 0.7, 0, 0);
        }

        &_gray {
            background: #B4B4B4;
            width: 481.07px;
            height: 217.47px;
            top: 100px;
            left: 100px;
            transform: matrix(0.87, -0.49, 0.51, 0.86, 0, 0);
            @include phone{
                top: 0px
            }
        }
    }   
}

.description-box {
    position: relative;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 10px;
    z-index: 2;
    &__background {
        z-index: -1;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        @include table {
            background-color: rgba($color: #EAE6E6, $alpha: 0.7);
            border-radius: 10px;
            filter: blur(2px) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.3));
        }

        @include table {
            filter: blur(0px) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.3));
        }
    }
}

.icons-box {}

.text-box {
    &__line {
        width: 85px;
    }

    &__header {}

    &__text {
        font-weight: 600;
        font-size: 1.6rem;
        line-height: 20px;
        color: #000000;
    }

    margin-bottom: 3.7rem;
}

.main-target-box {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;

    &__button {
        padding: 0px 20px;
        font-family: 'Montserrat';
        width: 239px;
        height: 66.95px;
        background: #DC6639;
        border-radius: 100px;
        font-weight: 600;
        font-size: 18px;
        text-align: center;
        color: #FFFFFF;
    }

    &__link {
        display: flex;
        background-color: transparent;
    }

    &__link-text {
        width: 73px;
        font-family: 'Montserrat';
    }
}